@charset "UTF-8";

#smartContent.step01 {
  .center {
    a {
      display:block;
      width:100%;
      margin-top:37px;
      text-align:center;
      height:60px;
      line-height:60px;
      vertical-align: middle;
      background:#ffbf44;
      img {vertical-align: middle}
    }
  }

}

#smartContent.step02 {
  .contents {position:relative}
  .cover {
    overflow:hidden;
    position:relative;
    width:590px;
    margin:0 auto;
    button {
      position:absolute;
      width:50px;
      height:50px;
      border:none;
      background:none;
      right:40px;
      top:190px;
    }
  }
  .map {
    position:absolute;
    display:none;
    left:0;top:0;
    width:100%;
    height:100%;
    text-align:center;
    overflow:hidden;
    background:url("../images/smart/img_map_02.jpg") no-repeat center 141px;
    background-size:cover;
    img {vertical-align: top}
    .img {width:100%;}
    .btnGroup {
      position:absolute;
      bottom:50px;
      left:50%;
      width:590px;
      margin-left:-285px;
      z-index:10;
      a {
        display:block;
        width:291px;line-height:61px;
        background:#d1d1d1;
        color:#313131;
        float:left;
        font-size:17px;
        font-weight:bold;
        &+a {float:right;background:#ffbf44;}
      }
    }
  }
}

#smartContent.login {
  .center {
    background:url("../images/smart/bg_login.jpg") no-repeat 0 0;
    background-size:cover;
  }
  .contents {
    width:430px;
    margin:120px auto 0;
    position:relative;
    input {
      border:none;
      background:none;
      color:#fff;
      border-bottom:2px solid #fff;
      font-size:28px;
      font-weight:200;
      padding:10px 0;
      width:100%;
      position:absolute;
      left:0;
      &::-webkit-input-placeholder { color: #fff;opacity: 0.3}
      &:-ms-input-placeholder {color: #fff;opacity: 0.3}
    }
    label {
      position:absolute;
      width:36px;
      height:38px;
      background:url("../images/mobile/iconChkinp.png") no-repeat 0 0;
      right:5px;
      display:none;
    }
    .id {
        top:90px;
      &+label {top:98px}
    }
    .pwd {
      top:190px;
      font-family: "맑은 고딕";
      &+label {top:198px}
    }
  }
  .btnGroup {
    margin:80px auto 0;
    a+a {margin-left:5px;}
  }
}

.btnGroup.colum {
  overflow:hidden;
  width:590px;
  margin:0 auto;
  a {
    &:first-child {float:left}
    &:last-child {float:right}
  }
}

#smartContent.step04 {
  .right {
    overflow:hidden;
    .ttt {position:relative;z-index:10;}
    .banner {
      position:relative;
      margin-top:-500px;
      transition: all 1s ease-out;
      z-index:1;
      &.active {
        margin-top:0;
      }
    }
  }
}