<include src="./include/mobile_layout.html">
    <header id="header">
        <a href="#this" id="logo"><img src="../images/mobile/m_logo.jpg" alt=""></a>
        <input type="checkbox" name="" id="chkMenu">
        <label for="chkMenu" id="menu" class="smart"><img src="../images/mobile/txt_smart_tit.png" alt=""></label>
        <div class="selectType">
            <a href="mobile_main.html"><img src="../images/mobile/btn_gotoChk.jpg" alt=""></a>
            <a href="mobile_smart_01.html"><img src="../images/mobile/btn_gotoSmart.jpg" alt=""></a>
        </div>
        <a href="#this" id="gnb"><img src= "../images/mobile/btn_gnb.png" alt=""></a>
    </header>
    <div id="smart-06" class="sub-smart">
        <img src="../images/mobile/img_smart_step_05_01.jpg" alt="">
        <div class="banner">
            <img src="../images/mobile/img_smart_step_05_02.jpg" alt="">
        </div>
        <img src="../images/mobile/img_smart_step_05_03.jpg" alt="">
    </div>
    <div class="btnGroup">
        <a href="mobile_smart_05.html"><img src="../images/mobile/btn_prev.png" alt="" class="prev"></a>
        <a href="mobile_smart_07.html" class="cYellow"><img src="../images/mobile/btn_next.png" alt="" class="next"></a>
    </div>
    <footer id="footer" class="sub">
        <img src="../images/mobile/img_footer.jpg" alt="">
    </footer>
</include>
<script>
    $(document).ready(function(){
        var scrolled = $(".device").scrollTop();
        $(".device").scroll(function(e){
            scrolled = $(".device").scrollTop();
            $('.banner img').css('top',-(scrolled*0.05)+'px');
        });
    });
</script>