<include src="./include/mobile_layout.html">
    <header id="header">
        <a href="#this" id="logo"><img src="../images/mobile/m_logo.jpg" alt=""></a>
        <input type="checkbox" name="" id="chkMenu">
        <label for="chkMenu" id="menu" class="smart"><img src="../images/mobile/txt_smart_tit.png" alt=""></label>
        <div class="selectType">
            <a href="mobile_main.html"><img src="../images/mobile/btn_gotoChk.jpg" alt=""></a>
            <a href="mobile_smart_01.html"><img src="../images/mobile/btn_gotoSmart.jpg" alt=""></a>
        </div>
        <a href="#this" id="gnb"><img src= "../images/mobile/btn_gnb.png" alt=""></a>
    </header>
    <div id="smart-01" class="sub-smart">
        <img src="../images/mobile/img_smart_login.jpg" alt="">
        <div class="relative">
            <input type="text" placeholder="아이디를 입력해주세요." id="id">
            <label for="id"></label>
        </div>
        <div class="relative">
            <img src="../images/mobile/img_smart_login_02.jpg" alt="">
            <input type="password" placeholder="비밀번호를 입력해주세요." id="pwd">
            <label for="pwd"></label>
        </div>
        <div class="btnGroup column">
            <a href="mobile_smart_02.html" class="cYellow">로그인</a>
            <a href="mobile_smart_03.html">비회원 예약</a>
        </div>
    </div>
    <footer id="footer" class="sub">
        <img src="../images/mobile/img_footer.jpg" alt="">
    </footer>
</include>
<script>
    $(document).ready(function(){
        
    });
</script>