<include src="./include/mobile_layout.html">
    <header id="header">
        <a href="#this" id="logo"><img src="../images/mobile/m_logo.jpg" alt=""></a>
        <input type="checkbox" name="" id="chkMenu">
        <label for="chkMenu" id="menu" class="smart"><img src="../images/mobile/txt_smart_tit.png" alt=""></label>
        <div class="selectType">
            <a href="mobile_main.html"><img src="../images/mobile/btn_gotoChk.jpg" alt=""></a>
            <a href="mobile_smart_01.html"><img src="../images/mobile/btn_gotoSmart.jpg" alt=""></a>
        </div>
        <a href="#this" id="gnb"><img src= "../images/mobile/btn_gnb.png" alt=""></a>
    </header>
    <div id="smart-03" class="sub-smart">
        <img src="../images/mobile/img_smart_step_02.jpg" alt="">
        <button type="button" class="onPop"></button>
        <div class="layoutPopup">
            <div class="btnGroup">
                <a href="#this" class="cYellow closePop">확인</a>
            </div>
        </div>
    </div>
    <div class="btnGroup">
        <a href="mobile_smart_03.html"><img src="../images/mobile/btn_prev.png" alt="" class="prev"></a>
        <a href="mobile_smart_05.html" class="cYellow"><img src="../images/mobile/btn_next.png" alt="" class="next"></a>
    </div>
    <footer id="footer" class="sub">
        <img src="../images/mobile/img_footer.jpg" alt="">
    </footer>
</include>
<script>
    $(document).ready(function(){
        $(".onPop").click(function(){
            $(".layoutPopup").addClass("active");
            $(".device").addClass("hidden");
        })
        $(".closePop").click(function(){
            $(".layoutPopup").removeClass("active");
            $(".device").removeClass("hidden");
            return false;
        })
    });
</script>