<include src="./include/mobile_layout.html">
    <header id="header">
        <a href="#this" id="logo"><img src="../images/mobile/m_logo.jpg" alt=""></a>
        <input type="checkbox" name="" id="chkMenu">
        <label for="chkMenu" id="menu" class="smart"><img src="../images/mobile/txt_smart_tit.png" alt=""></label>
        <div class="selectType">
            <a href="mobile_main.html"><img src="../images/mobile/btn_gotoChk.jpg" alt=""></a>
            <a href="mobile_smart_01.html"><img src="../images/mobile/btn_gotoSmart.jpg" alt=""></a>
        </div>
        <a href="#this" id="gnb"><img src= "../images/mobile/btn_gnb.png" alt=""></a>
    </header>
    <div id="smart-02" class="sub-smart">
        <img src="../images/mobile/img_smart_intro_01.jpg" alt="">
        <div class="btnGroup">
            <a href="mobile_smart_04.html" class="cYellow">검사예약</a>
            <a href="#this" class="cYellow">검사결과</a>
        </div>
        <img src="../images/mobile/img_smart_intro_02.jpg" alt="">
        <div class="btnGroup">
            <a href="mobile_smart_04.html" class="cYellow">검사예약</a>
            <a href="#this" class="cYellow">검사결과</a>
        </div>
        <img src="../images/mobile/img_smart_intro_03.jpg" alt="">
        <div class="btnGroup">
            <a href="mobile_smart_04.html" class="cYellow disabled">검사예약</a>
            <a href="#this" class="cYellow">검사결과</a>
        </div>
    </div>
    <footer id="footer" class="sub">
        <img src="../images/mobile/img_footer.jpg" alt="">
    </footer>
</include>
<script>
    $(document).ready(function(){
        
    });
</script>