@charset "UTF-8";

{{#sprites}}
.{{name}} {
	width: {{px.width}};
	height: {{px.height}};
	background-image: url("../images/sprite/sprite.png");
	background-position:{{px.offset_x}} {{px.offset_y}};
}
{{/sprites}}
