@charset "UTF-8";

//배경

.deviceBox {
  margin-top:50px;
  position:relative; overflow: auto; overflow-x: hidden; display:inline-block;
  left: 50%; margin-left:-182px; padding: 40px 20px;
  border: 2px solid rgba(0,0,0,0.25); border-radius: 20px;
  background: #444;
  ::-webkit-scrollbar {
    display:none;
  }
}
.device {
  overflow-y: auto; overflow-x: hidden; width: 320px; height: 568px;
  background: #fff;
  &.hidden {
    overflow-y:hidden;
  }
}
.speaker {
  position: absolute; top: 18px; left: 50%;
  width: 50px; height: 5px; margin-left: -25px;
  border-radius: 5px; background: rgba(128,128,128,.3);
}
.speaker:before {
  content: ""; display:inline-block; width: 5px; height: 5px; background: #000;
  position:absolute; left: -10px; border-radius: 50%;
}
.container {width: 100%; z-index: 4;}



//layout
#header {
  height:40px;
  padding:14px 14px 0;
  position:relative;
  background:#fff;
  z-index:101;
  input[type="checkbox"] {
    position:absolute;
    left:0;
    top:-100%;
    visibility: hidden;
    &:checked+#menu:after {
      transform:rotate(180deg) ;
    }
    &:checked+#menu+.selectType {
      a {margin-top:0}
    }
  }
  label {cursor:pointer}
  @include clearFix();
  #logo {
    float:left;
    img {width:68px}
  }
  .selectType {
    position:absolute;
    overflow:hidden;
    left:0;
    top:40px;
    z-index:100;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    img {width:100%;vertical-align: top}
    a {
      display:block;
      line-height:1;
      transition: all .3s;
      margin-top:-260px;
    }
  }
}
#gnb {
  float:right;
  img {width:17px}
}

#menu {
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  color:#4b4e54;
  font-size:17px;
  font-weight:bold;
  letter-spacing: -0.03em;
  &.smart {
    img {width:132px;}
    &:after {top:3px}
  }
  &:after {
    content:"";
    display:inline-block;
    width:18px;
    height:18px;
    background:url("../images/mobile/btn_menu.png");
    background-size:100%;
    position:relative;
    left:5px;
    top:4px;
    transition: all .3s;
  }
}


//메인사이트
#main {
  text-align:center;
  .txt {width:233px;}
  .selectArea {
    background:url("../images/mobile/bg_main.jpg") no-repeat center top;
    background-size:100%;
    min-height:357px;
    padding-top:45px;
    position:relative;
    .flex {
      display:flex;
      width:(418 / 640 * 100%);
      margin:25px auto 0;
      justify-content:space-between;
    }
    a {
      position:relative;
      &:after {
        content:"";
        position:absolute;
        transition: all .3s;
        opacity: 0;
        transform: scale(2);
      }
      &:before {
        content:"";
        display:block;
        width:81px;
        height:81px;
        border-radius:50%;
        border:1px solid #fff;
        opacity: 0.5;
        position:absolute;
        transition: all .3s;
      }
    }
    a img {width:81px;}
  }
  .txtSelect {
    position:relative;
    text-align:center;
    height:115px;
    @include beforeLayoutCenter;
    .txt {width:213px}
  }
  .cursor {
    position:absolute;
    top:-30px;
    left:50%;
    width:57px;
    transform: translateX(-50%);
    transition: all 0.3s;
  }
  .carContent {
    display:none;
    text-align:left;
    padding:23px 15px 0;
    height:115px;
    p {
      img {width:58px;}
    }
    input {
      border:none;
      font-size:20px;
      border-bottom:1px solid #e1e9ec;
      padding:10px 0;
      width:100%;
    }
    a {
      display:block;
      position:absolute;
      right:0;
      top:50%;
      transform: translateY(-50%);
      img {width:21px;}
    }
    .searchBox {
      position:relative;
    }
  }
  .bikeContent {
    display:none;
    padding:23px 15px 0;
    height:115px;
  }
}
#footer {
  &.sub {margin-top:35px;}
  img {width:100%;}
}

#main.activeCar {
  .txtSelect {display:none}
  .bikeContent {display:none}
  .carContent {display:block;}
  .selectArea {
    .flex {
      .car:before {
        border-color:transparent;
      }
      .car:after {
        content:"";
        display:block;
        width:79px;
        height:80px;
        background:url("../images/mobile/iconCheck.png") no-repeat 0 0;
        background-size:100%;
        position:absolute;
        left:1px;
        top:1px;
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

#main.activeBike {
  .txtSelect {display:none}
  .carContent {display:none;}
  .bikeContent {display:block;}
  .selectArea {
    .flex {
      .bike:before {
        border-color:transparent;
      }
      .bike:after {
        content:"";
        display:block;
        width:79px;
        height:80px;
        background:url("../images/mobile/iconCheck.png") no-repeat 0 0;
        background-size:100%;
        position:absolute;
        left:1px;
        top:1px;
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}